<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Gin with Tailwind CSS</title>
	</head>
	<body class="bg-gray-100">
		<div class="container mx-auto py-16 text-center">
			<h1 class="mb-4 text-4xl font-bold">Weather API</h1>
			<p class="text-xl">
				Stack: Go Gin, Docker, Redis, Tailwind CSS, OpenAPI v3 speficiation
			</p>
			<nav>
				<ul>
					<li>
						<a href="api/v1/weather?address=Langgata&city=Sandnes">/api/weather</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>
